
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/estilos.css" rel="stylesheet" />
    <title>Razas de Perros</title>
</head>
<body>
    <header>
        <h1>Razas de Perros</h1>
    </header>
    
    <main>
        <section class="nav">
            <h2>Administrador de Razas</h2>
            <ul>
                <li><a href="/Admin">Pagina Principal</a></li>
                <li><a href="/Admin/Paises">Administrar Paises</a></li>
                <li><a href="/Admin/Razas">Administrar Razas</a></li>
            </ul>
        </section>
        @RenderBody()
        <br class="clear" />
    </main>
    <footer>
        Razas de Perros - Ejercicio de Programación Web
    </footer>
</body>
</html>

