<html>
<head>
    <title>Actividad 1</title>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Programacion Web</h1>
    <h2>Séptimo semestre</h2>
    <h3>Periodo Ago-Dic21</h3>
    <h4>Alumno: Daniel Eduardo Villarreal de Luna</h4>
</body>
</html>