<html>
<head>
    <title>Mi Perfil</title>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Mi perfil</h1>
    <img src="~/img/profile.png" /><br />
    <label>Número de control: <b>181G0262</b></label><br />
    <label>Nombres: <b>Daniel Eduardo</b></label><br />
    <label>Apellido Paterno: <b>Villarreal</b></label>
    <label>Apellido Materno: <b>de Luna</b></label><br />
    <label>Número de Teléfono: <b>862 120 6752</b></label>
</body>
</html>